@font-face {
	font-family: 'smash';
	src:url('smash.eot?-bdrr5p');
	src:url('smash.eot?#iefix-bdrr5p') format('embedded-opentype'),
		url('smash.woff?-bdrr5p') format('woff'),
		url('smash.ttf?-bdrr5p') format('truetype'),
		url('smash.svg?-bdrr5p#smash') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'smash';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.5em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon.norm {
	font-size: 1em;
}

.smash-pencil:before {
	content: "\e00f";
}
.smash-edit:before {
	content: "\e011";
}
.smash-dice:before {
	content: "\e050";
}
.smash-add:before {
	content: "\e188";
}
.smash-settings:before {
	content: "\e1db";
}
.smash-gear:before {
	content: "\e1e1";
}
.smash-trash:before {
	content: "\e250";
}
.smash-github:before {
	content: "\e4ba";
}
.smash-html:before {
	content: "\e4ea";
}
.smash-css:before {
	content: "\e4ec";
}
.smash-quill:before {
	content: "\e600";
}
.smash-bullhorn:before {
	content: "\e601";
}
.smash-history:before {
	content: "\e602";
}
